<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h1 >FORGOT PASSWORD</h1>
            <br><br><br> 
          <form [formGroup]="changePass" (ngSubmit)="Change()">
            <!-- Phone Number input -->
            <div class="form-outline mb-4">
                <label class="form-label">New Password</label>
              <input type="text" id="pass" class="form-control form-control-lg" class="form-control" formControlName="pass" required/>
              <span style="color:red;" *ngIf="changePass.controls.pass.invalid && changePass.controls.pass.touched">Invalid</span>
              <br>
              <label class="form-label">Confirm Password</label>
              <input type="text" id="cpass" class="form-control form-control-lg" class="form-control" formControlName="cpass" required/>
              <span style="color:red;" *ngIf="changePass.controls.cpass.invalid && changePass.controls.cpass.touched">Invalid</span>
            </div>

            <!-- Submit button -->
            <input type="submit" value="SAVE" class="btn btn-primary btn-lg btn-block" [disabled]="changePass.invalid">
            </form>
        </div>
      </div>
    </div>
    
  </section>