<div>

<div class="container-fluid mb-5 container center_div w-50 p-3">
    <h1>Register</h1><br>
  
    <form #uf="ngForm" (submit) = onSubmit(uf) class="applyImgx">
      

      <input type="hidden" name = "autoID" [value]="service.formData.cid">
      <input type="hidden" name = "userID" [value]="service.formData.userId"/>
      <div class="form-group">
        <label>Name</label>
        <input type="text" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" name = "name" class = "form-control" [(ngModel)]="service.formData.cName">
        <small class="text-danger" [class.d-none] ="name.valid || name.untouched">Invalid name</small>
      </div><br>
  
      <div class="form-group">
        <label>Date of birth</label>
        <input type="date" name="dob" class = "form-control" [(ngModel)]="service.formData.DOB" (change)="changeDOB($event.target)">
      </div><br>
  
      <div class="form-group">
        <label>Email ID</label>
        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required email #email="ngModel" [class.is-invalid]="email.invalid && email.touched" name = "email" class = "form-control" [(ngModel)]="service.formData.emailId"> 
        <small class="text-danger" [class.d-none] ="email.valid || email.untouched">Invalid email ID</small>
        <div *ngIf="!flag_email"><div class="alert alert-danger" role="alert">
          this emailID is already taken! Please enter a new email ID.
        </div></div>
      </div><br>
  
      <div class="form-group">
        <label>Mobile Number</label>
        <input type="tel" required pattern="^\d{10}$" #pn="ngModel" [class.is-invalid]="pn.invalid && pn.touched" name= "phone" class = "form-control" [(ngModel)]="service.formData.phoneNumber"> 
        <small class="text-danger" [class.d-none] ="pn.valid || pn.untouched">Invalid Mobile number</small>
        <div *ngIf="!flag_mobile"><div class="alert alert-danger" role="alert">
          This mobile number is already taken! Please enter a new mobile number.
        </div></div>
      </div><br>
  
      <div class="form-group">
        <label>Username</label>
        <input type="text" required #un="ngModel" [class.is-invalid]="un.invalid && un.touched" name = "username" class = "form-control" [(ngModel)]="service.formData.userName">
        <small class="text-danger" [class.d-none] ="un.valid || un.untouched">Username Required</small>
        <div *ngIf="!flag_username"><div class="alert alert-danger" role="alert">
          This username is already taken! Please enter a new username.
        </div></div>
      </div><br>
  
      <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="opw" required #pw="ngModel" [class.is-invalid]="pw.invalid && pw.touched" name = "password" class = "form-control" [(ngModel)]="service.formData.cPassword">
        <small class="text-danger" [class.d-none] ="pw.valid || pw.untouched">Password Required</small>
      </div><br>

      <div class="form-group">
        <label>Confirm Password</label>

        <div class="col-md-8">
        <input class="form-control"
               id="CnfrmPasswordId"
               type="password"
               placeholder="Confirm Password (required)"
               required
               appPasswordvalidator = "password"
               ngModel
               name="CnfmPasswordVar"
               #CnfmPasswordVar="ngModel"
               [ngClass]="{'is-invalid': (CnfmPasswordVar.touched && CnfmPasswordVar.dirty) && !CnfmPasswordVar.valid }" />
          <span class="invalid-feedback">
          <span *ngIf="CnfmPasswordVar.hasError('required')">
            Confirm Password is required.
          </span>
          <span *ngIf="CnfmPasswordVar.hasError('passwordMatchError')">
            Passwords do not match.
          </span>
        </span>
        </div>
      </div>
      <br>
  
  
      <div class="form-group">
        <label>Address</label>
        <input type="text" required #ad="ngModel" [class.is-invalid]="ad.invalid && ad.touched" name = "address" class = "form-control" [(ngModel)]="service.formData.cAddress">
        <small class="text-danger" [class.d-none] ="ad.valid || ad.untouched">Address required</small>
      </div><br>
  
      <div class="form-group">
        <p style="color: whitesmoke;"> Please select your preferred card type:</p>
          <input type="radio" required (click) = "radioClicked()" name = "CardType" id="gold" name="pref_card" value="Gold" [(ngModel)]="service.formData.cardType">
          <label for="gold">Gold</label>
          <input type="radio" required (click) = "radioClicked()" name = "CardType" id="titm" name="pref_card" value="Titanium" [(ngModel)]="service.formData.cardType">
          <label for="titm">Titanium</label><br>
      </div><br>
  
      <div class="form-group">
        <p style="color: white;">Please select your bank:</p>
        <select required #bank = "ngModel" class = "custom-select" name = "bank" [(ngModel)]="service.formData.bankName">
          <option *ngFor = "let bank of banks"> {{bank}} </option>
        </select>
        <small class="text-danger" [class.d-none] ="bank.valid || bank.untouched">Bank Required</small>
      </div><br>
  
      <div class="form-group">
        <label>Savings Account Number</label>
        <input type="text" required #an="ngModel" [class.is-invalid]="an.invalid && an.touched" name = "savingsAccount" class = "form-control" [(ngModel)]="service.formData.accNo">
        <small class="text-danger" [class.d-none] ="an.valid || an.untouched">Account number required</small>
        <div *ngIf="!flag_account"><div class="alert alert-danger" role="alert">
          this account number is already taken! Please enter a new account number.
        </div></div>
      </div><br>
  
      <div class="form-group">
        <label>IFSC Code</label>
        <input type="text" required #ifsc="ngModel" [class.is-invalid]="ifsc.invalid && ifsc.touched" name = "IFSC" class = "form-control" [(ngModel)]="service.formData.ifscCode">
        <small class="text-danger" [class.d-none] ="ifsc.valid || ifsc.untouched">IFSC Code required</small>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div style="margin-left: -10px;">
            <div class="card-panel teal lighten-2">
              <h5 style="color:white">Upload your ID proof <small style="font-size: 15px;">(as "Username".jpg/png)</small>:</h5>
              
            </div>
            <form #imageForm=ngForm >
              <input type="file" #Image id="file" accept="image/*" style="color: white;" (change)="handleFileInput($event)">
            </form>
          </div>
        </div>
        </div>
      <br>
      <div class="form-group">
        <label>I have read the terms and conditions: </label> &nbsp;
        <input type="radio" required (click) = "termClicked()"> &nbsp; <a class="link-danger" (click)="terms()">Terms and Conditions</a>.
      </div><br>
      <div id="outer">
        <div class="inner"> <button [disabled]="uf.form.invalid || !flagTerm || !flag" style="margin:10px;" class="btn btn-primary" type="submit">Register</button><br> </div>
        <div class="inner"> <button type="reset" value="Reset" style="margin:10px;" class="btn btn-primary">Reset</button> </div>
      </div>
      <div id="outer">
        <div class="inner"> <p style="margin:10px; padding-top: 10%; color: whitesmoke;">Already a member?</p> </div>
        <div class="inner"> <a routerLink="/login" style="margin:3px;">login</a> </div>
      </div>
  
    </form>
  </div>
</div>
