.center_div{
    margin: 0 auto;
    width:80% 
}

  @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

  div {
      font-family: Product Sans;

  }

  label {
      font-size: larger;
      
      color: whitesmoke;
  }


  .applyImgx {
    background-image: url("src\assets\images\img25.jpg");
    background-color: #cccccc;
   }

   .applyImgy {
    background-image: url("src\assets\images\img24.svg");
    background-color: #cccccc;
   }

 form {
     margin: 0;
     padding: 4%;
     border: 1px dotted black;
     border-radius: 2%;
 }

 h1 {
    text-align: center;
    padding-top: 4%;
  }

  .inner
{
    display: inline-block;
}

#outer
{
    width:100%;
    text-align: center;
}