<app-navbar-logged-in></app-navbar-logged-in>

<!--(this.cPurchaseRecord[this.counter]).productId--
<body style="overflow-x: hidden;">
  <div class="card" id="card_center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card Details</h5>
      <hr>
      <p class="card-text"><i>Card Number: </i>{{ emicard.cardNo }}</p>
      <p class="card-text"><i>Name: </i>{{ consumer.cName }}</p>
      <p class="card-text" *ngIf="consumer.isVerfied"><i>Validity Period: </i>{{ emicard.validityPeriod | date}}</p>
      <p class="card-text"><i>Card Type: </i> {{ consumer.cardType}}</p>
      <p class="card-text text-success" *ngIf="consumer.isVerfied"><b>Activated</b></p>
      <p class="card-text text-danger" *ngIf="!consumer.isVerfied"><b>Not Activated</b></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <div class="card " id="card_details" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Account Info</h5>
          <hr>
          <p class="card-text"><i>Total Credit: </i>{{ emicard.totalCredit }}</p>
          <p class="card-text"><i>Credit Used: </i>{{ totalcreds - emicard.accBalance }}</p>
          <p class="card-text"><i>Remaining Credit: </i>{{ emicard.accBalance }}</p>
        </div>
      </div>  
    </div>
    <div class="col-sm-8">
      <div class="card" id="card_details" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">Products Purchased</h5>
          <hr>
          <div *ngIf="cPurchaseRecord.length>0;then ProductBought else NotBought">
          </div>
            <ng-template #ProductBought>
              <table>
                <tr *ngFor="let x of cPurchaseRecord">
                  <td><i>Name:</i>{{productColl1.get(x.productId)}}</td>&nbsp;
                  <td><i>Amount:</i>{{productColl2.get(x.productId)}}</td>
                  <td><i>Paid:</i>{{productColl2.get(x.productId)-x.productBalance}}</td>
                  <td><i>Balance:</i>{{x.productBalance}}</td>
                </tr>
              </table>
            </ng-template>
            <ng-template #NotBought>
              You haven't bought anything yet!
            </ng-template>
        </div>
      </div>
    </div>  -->

<!--<div class = "applyImg">
  <div class="card" id="card_center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card Details</h5>
      <hr>
      <p class="card-text"><i>Card Number: </i>{{ emicard.cardNo }}</p>
      <p class="card-text"><i>Name: </i>{{ consumer.cName }}</p>
      <p class="card-text" *ngIf="consumer.isVerfied"><i>Validity Period: </i>{{ emicard.validityPeriod | date}}</p>
      <p class="card-text"><i>Card Type: </i> {{ consumer.cardType}}</p>
      <p class="card-text text-success" *ngIf="consumer.isVerfied"><b>Activated</b></p>
      <p class="card-text text-danger" *ngIf="!consumer.isVerfied"><b>Not Activated</b></p>
    </div>
  </div>






  <div class="col-sm-4">
    <div class="card " id="card_details" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Account Info</h5>
        <hr>
        <p class="card-text"><i>Total Credit: </i>{{ emicard.totalCredit }}</p>
        <p class="card-text"><i>Credit Used: </i>{{ totalcreds - emicard.accBalance }}</p>
        <p class="card-text"><i>Remaining Credit: </i>{{ emicard.accBalance }}</p>
      </div>
    </div>  
  </div>


  <div *ngIf = "showPurch">
  <div class="col-sm-8">
    <div class="card" id="card_details" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">Products Purchased</h5>
        <hr>
        <div *ngIf="cPurchaseRecord.length>0;then ProductBought else NotBought">
        </div>
          <ng-template #ProductBought>
            <table>
              <tr *ngFor="let x of cPurchaseRecord">
                <td><i>Name:</i>{{productColl1.get(x.productId)}}</td>&nbsp;
                <td><i>Amount:</i>{{productColl2.get(x.productId)}}</td>
                <td><i>Paid:</i>{{productColl2.get(x.productId)-x.productBalance}}</td>
                <td><i>Balance:</i>{{x.productBalance}}</td>
              </tr>
            </table>
          </ng-template>
          <ng-template #NotBought>
            You haven't bought anything yet!
          </ng-template>
      </div>
    </div>
  </div> </div>


    <div class="col-sm-8">
      <div class="card" id="card_details" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">Recent Purchases</h5>
          <hr>
          <button style = " margin-bottom: 4%;" class = "btn btn-primary" (click) = "showMore()">Show more</button> 
          <div *ngIf="cPurchaseRecord.length>0;then ProductBought else NotBought">
          </div>
            <ng-template #ProductBought>
                <div *ngFor="let x of showMoreList">

                  <table>
                    <tr>
                      <td class="more-padding-on-right">Product: {{productColl3.get(x)}}</td>
                      <td class="more-padding-on-right">Price: {{productColl4.get(x)}}</td>
                    </tr>       
                  </table>
                  
                  
                </div>

            </ng-template>
            <ng-template #NotBought>
              You haven't bought anything yet!
            </ng-template>
        </div>
      </div>
    </div>  
</div> -->


  <!--</div>-->
<!--</body>-->

<div style="margin-top: 3%;">


 <div class="roundBorderX container-fluid mb-5 container center_div w-75 p-3">

  <div id="wrapper">

    <div id="left" class = "roundBorder applyImg" style="margin-right: 10px;">
      <h5>Card Details</h5>
      <hr>

      <table class="table table-striped table-hover">

        <tr>
          <td>
            Card Number:
          </td>
          <td>
            {{ emicard.cardNo }}
          </td>
        </tr>

        <tr>
          <td>
            Validity Period:
          </td>
          <td>
            {{ emicard.validityPeriod | date}}
          </td>
        </tr>
        
      </table>

      <p class="card-text text-success" *ngIf="consumer.isVerfied">
        <b>Activated</b>
      </p>
      <p class="card-text text-danger" *ngIf="!consumer.isVerfied">
        <b>Not Activated</b>
      </p>

    </div>



    <div id="right" class = "roundBorder applyImg">
      <h5>Account Info</h5>
      <hr>

      <tr>
        <td>
          Total Credit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          {{ emicard.totalCredit }}&nbsp;&nbsp;INR
        </td>
      </tr>

      <tr>
        <td>
          Credit Used:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          {{ totalcreds - emicard.accBalance }}&nbsp;&nbsp;INR
        </td>
      </tr>

      <tr>
        <td>
          Remaining Credit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          {{ emicard.accBalance }}&nbsp;&nbsp;INR
        </td>
      </tr>



    </div>

 </div>





 

  <div class="roundBorder applyImg" style="margin-top: 1%; width: 93%;">
    <h5>Recent Purchases</h5>
    <hr>
    <button style=" margin-bottom: 3%; " class="btn btn-primary" (click)="showMore()">Show more</button>
    <div *ngIf="cPurchaseRecord.length>0;then ProductBought else NotBought"></div>
    <ng-template #ProductBought>
        <table class="table table-striped table-hover">
          <tr *ngFor="let x of showMoreList">
            <td>Product:&nbsp;&nbsp;&nbsp;&nbsp; {{productColl3.get(x)}}</td>
            <td>Price: &nbsp;&nbsp;&nbsp;&nbsp;{{productColl4.get(x)}}</td>
          </tr>
        </table>
    </ng-template>
    <ng-template #NotBought> You haven't bought anything yet! </ng-template>
 </div>



 <div class="roundBorder applyImg" style="margin-top: 1%; width: 93%;">
  <div *ngIf="showPurch">
          <h5>Purchase History</h5>
          <hr>
          <div *ngIf="cPurchaseRecord.length>0;then ProductBought else NotBought"></div>
          <ng-template #ProductBought>
            <table class="table table-striped table-hover">
              <tr *ngFor="let x of cPurchaseRecord">
                <td>
                  Name: &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{productColl1.get(x.productId)}}
                </td>&nbsp; <td>
                  Amount:&nbsp;&nbsp;&nbsp;&nbsp;{{productColl2.get(x.productId)}}&nbsp;&nbsp;INR
                </td>
                <td>
                  Paid: &nbsp;&nbsp;{{productColl2.get(x.productId)-x.productBalance}}&nbsp;&nbsp;INR
                </td>
                <td>
                  Balance:&nbsp;&nbsp;{{x.productBalance}}&nbsp;&nbsp;INR
                </td>
              </tr>
            </table>
          </ng-template>
          <ng-template #NotBought> You haven't bought anything yet! </ng-template>
   </div>
</div>





<!--<div id="outer">
  <div class="inner"> 
    <div class="card" id="card_center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card Details</h5>
        <hr>
        <p class="card-text"><i>Card Number: </i>{{ emicard.cardNo }}</p>
        <p class="card-text"><i>Name: </i>{{ consumer.cName }}</p>
        <p class="card-text" *ngIf="consumer.isVerfied"><i>Validity Period: </i>{{ emicard.validityPeriod | date}}</p>
        <p class="card-text"><i>Card Type: </i> {{ consumer.cardType}}</p>
        <p class="card-text text-success" *ngIf="consumer.isVerfied"><b>Activated</b></p>
        <p class="card-text text-danger" *ngIf="!consumer.isVerfied"><b>Not Activated</b></p>
      </div>
    </div>
  </div>
</div>

<div id="outer">
  <div class="inner"> 
    <div class="col-sm-4">
      <div class="card " id="card_details" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Account Info</h5>
          <hr>
          <p class="card-text"><i>Total Credit: </i>{{ emicard.totalCredit }}</p>
          <p class="card-text"><i>Credit Used: </i>{{ totalcreds - emicard.accBalance }}</p>
          <p class="card-text"><i>Remaining Credit: </i>{{ emicard.accBalance }}</p>
        </div>
      </div>  
    </div>
  </div>
</div>



  <div class="col-sm-8">
    <div class="card" id="card_details" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">Products Purchased</h5>
        <hr>
        <div *ngIf="cPurchaseRecord.length>0;then ProductBought else NotBought">
        </div>
          <ng-template #ProductBought>
            <table>
              <tr *ngFor="let x of cPurchaseRecord">
                <td><i>Name:</i>{{productColl1.get(x.productId)}}</td>&nbsp;
                <td><i>Amount:</i>{{productColl2.get(x.productId)}}</td>
                <td><i>Paid:</i>{{productColl2.get(x.productId)-x.productBalance}}</td>
                <td><i>Balance:</i>{{x.productBalance}}</td>
              </tr>
            </table>
          </ng-template>
          <ng-template #NotBought>
            You haven't bought anything yet!
          </ng-template>
      </div>
    </div>
  </div>  





    <div class="container">
  <table>
    <tr>
      <td>{{ emicard.cardNo }}</td>
    </tr>
    <tr>
      <td>{{ consumer.cName }}</td>
    </tr>
    <tr>
      <td>{{ emicard.validityPeriod | date}}</td>
    </tr>
    <tr>
      <td>{{ consumer.cardType}}</td>
    </tr>
    <tr>
      <td *ngIf="consumer.isVerfied" class="text-success">Activated</td>
      <td *ngIf="!consumer.isVerfied" class="text-danger">Not Activated</td>
    </tr>
  </table>
</div> 


<body style="overflow-x: hidden;">
  <div class="float-container">

    <div class="float-child">
      <div class="green" style="width: 18rem;">
        <h5 class="card-title">Card Details</h5>
        <hr>
        <p class="card-text"><i>Card Number: </i>{{ emicard.cardNo }}</p>
        <p class="card-text"><i>Name: </i>{{ consumer.cName }}</p>
        <p class="card-text" *ngIf="consumer.isVerfied"><i>Validity Period: </i>{{ emicard.validityPeriod | date}}</p>
        <p class="card-text"><i>Card Type: </i> {{ consumer.cardType}}</p>
        <p class="card-text text-success" *ngIf="consumer.isVerfied"><b>Activated</b></p>
        <p class="card-text text-danger" *ngIf="!consumer.isVerfied"><b>Not Activated</b></p>
      </div>
    </div>
    
    <div class="float-child" style="margin:10px;">
      <div class="blue" style="width: 18rem;">
        <h5 class="card-title">Account Info</h5>
        <hr>
        <p class="card-text"><i>Total Credit: </i>{{ emicard.totalCredit }}</p>
        <p class="card-text"><i>Credit Used: </i>{{ totalcreds - emicard.accBalance }}</p>
        <p class="card-text"><i>Remaining Credit: </i>{{ emicard.accBalance }}</p>
      </div>
    </div>
    
  </div>

  <div class="col-sm-8">
    <div class="card" id="card_details" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">Products Purchased</h5>
        <hr>
        <div *ngIf="cPurchaseRecord.length>0;then ProductBought else NotBought">
        </div>
          <ng-template #ProductBought>
            <table>
              <tr *ngFor="let x of cPurchaseRecord">
                <td><i>Name:</i>{{productColl1.get(x.productId)}}</td>&nbsp;
                <td><i>Amount:</i>{{productColl2.get(x.productId)}}</td>
                <td><i>Paid:</i>{{productColl2.get(x.productId)-x.productBalance}}</td>
                <td><i>Balance:</i>{{x.productBalance}}</td>
              </tr>
            </table>
          </ng-template>
          <ng-template #NotBought>
            You haven't bought anything yet!
          </ng-template>
      </div>
    </div>
  </div>  

</body>

<table>
  <tr>

    <td>
      <h5 class="card-title">Card Details</h5>
      <hr>
      <p class="card-text"><i>Card Number: </i>{{ emicard.cardNo }}</p>
      <p class="card-text"><i>Name: </i>{{ consumer.cName }}</p>
      <p class="card-text" *ngIf="consumer.isVerfied"><i>Validity Period: </i>{{ emicard.validityPeriod | date}}</p>
      <p class="card-text"><i>Card Type: </i> {{ consumer.cardType}}</p>
      <p class="card-text text-success" *ngIf="consumer.isVerfied"><b>Activated</b></p>
      <p class="card-text text-danger" *ngIf="!consumer.isVerfied"><b>Not Activated</b></p>
    </td>

    <td>
      <h5 class="card-title">Account Info</h5>
      <hr>
      <p class="card-text"><i>Total Credit: </i>{{ emicard.totalCredit }}</p>
      <p class="card-text"><i>Credit Used: </i>{{ totalcreds - emicard.accBalance }}</p>
      <p class="card-text"><i>Remaining Credit: </i>{{ emicard.accBalance }}</p>
    </td>

  </tr>
</table>-->