<html>
<style>
    body{
    overflow: hidden;
}
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/register">Register</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
      </div>
    </div>
  </nav>
  <div class="card" style="padding-top: 20px;padding-bottom: 10px;">
  <div class="row">
    <div class="col-sm-6">
        
        <img class="img-right"src="assets/images/oneplus9.jpg" style="height:300px; margin-left:25px" />
        </div>
    <div class="col-sm-6" style="padding-top: 20px;">  
        <h3></h3>
        <p class="font-weight-bold" class="text-left" >Product Name: OnePlus 9</p>
        <p class="font-weight-bold" class="text-left" >Product Details: OnePlus 9</p>
        <p class="font-weight-bold" class="text-left" >Cost: OnePlus 9</p>
        <a routerLink="/login"><button class="btn btn-primary">Buy Now</button></a>
    </div>
</div>
</div>

<div class="card" style="padding-top: 20px;padding-bottom: 10px;">
    <div class="row">
        <div class="col-sm-6" style="margin: auto;">
            <h3>Eligibility</h3>
            <p>Age must be above 18 years</p>
            <h3>Charges</h3>
            <p>Joining charges: Rs.X and transaction charges: Rs.X</p>
        </div>
            <div class="col-sm-4"style="margin: auto;">
                <a class="link-danger" routerLink="/terms">Terms and Condition</a>
            </div>
    </div>
</div>
</body>
</html>