<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <div style="text-align-last: center;">
            <img src="assets\images\eminent.png" style="height: 110px; width: 110px;align-self: center;padding-bottom: 30px;">
          </div>
            <h1 >FORGOT PASSWORD</h1>
            <br><br>
          <form [formGroup]="generateOTP" (ngSubmit)="Generator()">
            <!-- Phone Number input -->
            <div class="form-outline mb-4">
                <label class="form-label">Email Id</label>
              <input type="text" id="phoneno" class="form-control form-control-lg" class="form-control" formControlName="phoneno" required/>
              <span style="color:red;" *ngIf="generateOTP.controls.phoneno.invalid && generateOTP.controls.phoneno.touched">Invalid</span>
              
            </div>

            <!-- Submit button -->
            <input type="submit" value="Generate OTP" class="btn btn-primary btn-lg btn-block" [disabled]="generateOTP.invalid">
            </form>
            <div *ngIf="!emailpresent"><div class="alert alert-danger" role="alert">
              Email Id does not exist!! Please try again.
            </div></div>
            <br><br>
          <form [formGroup]="checkOTP" (ngSubmit)="Check()"  *ngIf="this.isButtonVisible" >
            <!-- Phone Number input -->
            <div class="form-outline mb-4">
                <label class="form-label">Enter OTP</label>
              <input type="number" id="otp" class="form-control form-control-lg" class="form-control" formControlName="otp" required />
              <span style="color:red;" *ngIf="checkOTP.controls.otp.invalid && checkOTP.controls.otp.touched">Invalid</span>
              
            </div>
            <div *ngIf="!flag"><div class="alert alert-danger" role="alert">
              Invalid OTP!! Please try again!!
            </div></div>
            <!-- Submit button -->
             <input type="submit" value="Submit OTP" class="btn btn-primary btn-lg btn-block" [disabled]="checkOTP.invalid">
          </form>
        </div>
      </div>
    </div>
    
  </section>