<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <a class="navbar-brand" routerLink="/admin" style="margin-left: 5%;"><img src="./assets/images/eminent.png" width="85%" height="70px"  class="d-inline-block align-top" style="border-radius: 15%;" alt=""></a>
  <button class="navbar-toggler" routerLink="/admin" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-right" id="navbarNavAltMarkup" style="padding-right: 20px;">
    <div class="navbar-nav">
      <p class="nav-item" style="padding-top: 15px;">Hello {{userName}}!</p>
    </div>
  </div>

  <div class="navbar-right" id="navbarNavAltMarkup" style="padding-right: 20px;">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/">Logout</a>
    </div>
  </div>
</nav>

<div class="container">
	<div class="row">
        <div class="col-md-12">
            <h4>Consumer Database</h4>
            <hr>
            <br>
            <div class="table-responsive">
                <table id="consumerTable" class="table table-hover" style="width: 100%;">
                    <thead style="padding-bottom: 8px;" class="head">
                        <tr id="heading">
                            <th scope="col">User ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email ID</th>
                            <th scope="col">Card Type</th>
                            <th scope="col">Account Number</th>
                            <th scope="col">IFSC Code</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of consumers">
                            <td>{{c.userId}}</td>
                            <td>{{c.cName}}</td>
                            <td>{{c.userName}}</td>
                            <td>{{c.emailId}}</td>
                            <td>{{c.cardType}}</td>
                            <td>{{c.accNo}}</td>
                            <td>{{c.ifscCode}}</td>
                            <td>
                              <input type="submit" class="btn btn-primary" value="Verify" [disabled]="c.isVerfied" (click)="toVerify(c.userName)">
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" [disabled]="c.isVerfied" (click)="deleteUser(c.userName)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
	    </div>
    </div>
</div>

<button class="btn btn-primary" (click)="showDocs()">Show Documents</button>
      
      <div class="card" style="padding-top: 20px;padding-bottom: 10px;">
        <div class="row" *ngFor="let doc of documents" style="padding-top: 20px;padding-bottom: 10px;">
            <div class="col-sm-6">
                  <img class="img-right" class="img-thumbnail" src="{{doc.docImage}}" style="height:300px; margin-left:50px" />
                  </div>
                <div class="col-sm-6" style="padding-top: 20px;">  
                  <h3></h3>
                  <p><b>UserName:</b> {{doc.username}}</p>
              </div>
          </div>
          </div>