<nav class="navbar navbar-expand-lg navbar-light navbar-custom" style="justify-content: space-between; padding-right: 20px;">
  <a style="margin-left: 2%;" class="navbar-brand" routerLink="/"><img src="./assets/images/eminent_Transparent.png" width="100%" height="80px" class="d-inline-block align-top" alt=""> </a>
  <button class="navbar-toggler" routerLink="/dashboard" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  
  <ul class="nav navbar-nav ml-auto" style="padding-left: 10px;">
    <li class="nav-item" style="font-size: large; padding-right: 15px;">Hello {{userName}}!</li>
    <li class="nav-item" style="font-size: large;"> <a class="nav-link page-scroll" routerLink="/" style="display: inline;"><b>Logout</b></a></li>
  </ul>
</nav>

<div class="container">
	<div class="row">
        <div class="col-md-12">
            <h4>Consumer Database</h4>
            <hr>
            <br>
            <div class="table-responsive">
                <table id="consumerTable" class="table table-hover" style="width: 100%;">
                    <thead style="padding-bottom: 8px;" class="head">
                        <tr id="heading">
                            <th scope="col">User ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email ID</th>
                            <th scope="col">Card Type</th>
                            <th scope="col">Account Number</th>
                            <th scope="col">IFSC Code</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of consumers">
                            <td>{{c.userId}}</td>
                            <td>{{c.cName}}</td>
                            <td>{{c.userName}}</td>
                            <td>{{c.emailId}}</td>
                            <td>{{c.cardType}}</td>
                            <td>{{c.accNo}}</td>
                            <td>{{c.ifscCode}}</td>
                            <td>
                              <input type="submit" class="btn btn-primary" value="Verify" [disabled]="c.isVerfied" (click)="toVerify(c.userName)">
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" [disabled]="c.isVerfied" (click)="deleteUser(c.userName)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
	    </div>
    </div>
</div>

<div style="text-align: center; padding-top: 20px;">
  <button class="btn btn-primary" (click)="showDocs()">Show Documents</button>
</div>
      <div class="card" style="padding-top: 20px;padding-bottom: 10px;">
        <div class="row" *ngFor="let doc of documents" style="padding-top: 20px;padding-bottom: 10px;">
            <div class="col-sm-6">
                  <img class="img-right" class="img-thumbnail" src="{{doc.docImage}}" style="height:300px; margin-left:50px" />
                  </div>
                <div class="col-sm-6" style="padding-top: 20px;">  
                  <h3></h3>
                  <p><b>UserName:</b> {{doc.username}}</p>
              </div>
          </div>
          </div>