<h3><u>Product list</u></h3>
<div class="card" style="padding-top: 20px;padding-bottom: 10px;">
    <div class="row">
      <div class="col-sm-6">
          
          <img class="img-right"src="assets/images/oneplus9.jpg" style="height:300px; margin-left:25px" />
          </div>
      <div class="col-sm-6" style="padding-top: 20px;">  
          <h3></h3>
          <p class="font-weight-bold" class="text-left" >Product Name: OnePlus 9</p>
          <p class="font-weight-bold" class="text-left" >Product Details: OnePlus 9</p>
          <p class="font-weight-bold" class="text-left" >Cost: OnePlus 9</p>
          <a routerLink="/productinfo"><button class="btn btn-primary">Buy Now</button></a>
      </div>
  </div>
  </div>