<nav class="navbar navbar-expand-lg navbar-light navbar-custom ">
  <a class="navbar-brand" routerLink="/dashboard" style="margin-left: 5%;"><img src="./assets/images/eminent_Transparent.png" width="100%" height="90px"  class="d-inline-block align-top" style="border-radius: 15%;" alt="">
    </a>
  <button class="navbar-toggler" routerLink="/dashboard"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>




  <div class="navbar-right" id="navbarNavAltMarkup" style="padding-right: 20px; text-align-last: end;">
    <div class="navbar-nav">
      <p class="nav-item" style="padding-top: 15px;"><a class="nav-link" routerLink="/productlist" style="font-size: x-large; "><img src="./assets/images/shop.png" width="90%" height="60px"  class="d-inline-block align-top" style="border-radius: 0%;" alt=""></a></p>
    </div>
  </div>
  <div class="navbar-right" id="navbarNavAltMarkup" style="padding-right: 20px;">
    <div class="navbar-nav">
      <p class="nav-item" style="padding-top: 15px; font-size: large;">Hello {{userName}}!</p>
    </div>
  </div>
  <div class="navbar-right" id="navbarNavAltMarkup" style="padding-right: 20px; font-size: large;">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/"><b>Logout</b></a>
    </div>
  </div>
</nav>