<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="#">
      <img src="./assets/images/logoTry.jpg" width="50%" height="50px" class="d-inline-block align-top" alt="">
      EMI App
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/productlist">Products</a>
    </div>
  </div>
  <div class="navbar-right" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <p>Hi User!</p>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/dashboard" style="margin-left: 2%;"><img src="./assets/images/eminent.png" width="70%" height="70px" class="d-inline-block align-top" alt="">
    </a>
  <button class="navbar-toggler" routerLink="/dashboard"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/productlist" style="font-size: xx-large;">Shop Now</a>
      </li>
    </ul>
  </div>

  <div class="navbar-right" id="navbarNavAltMarkup" style="padding-right: 20px;">
    <div class="navbar-nav">
      <p class="nav-item" style="padding-top: 15px;">Hello {{userName}}!</p>
    </div>
  </div>
  <div class="navbar-right" id="navbarNavAltMarkup" style="padding-right: 20px;">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/">Logout</a>
    </div>
  </div>
</nav>