<div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <table>
            <tr>
                <td> Username: </td>
                <td><input type="text" name="userName" #userName="ngModel" ngModel placeholder="Enter Username" required></td>
            </tr>
            <tr>
                <td> Password: </td>
                <td><input type="password" name="password" #password="ngModel" ngModel placeholder="Enter Password" required></td>
            </tr>
            <input class="login" type="submit" value="Login" [disabled]="loginForm.invalid">
        </table>
    </form>
    <a href="">Forgot Password</a>
    <br>
    New User? <a href="">Register</a>
</div>