<div class="container">
  <div class="row mt-5">
      <div class="spContainer mx-auto">
          <div class="card px-4 py-5 border-0 shadow">
              <div class="d-inline text-left mb-3">
                  <h3 class="font-weight-bold">Change Password</h3>
              </div>
<div class="col-md-6 col-md-offset-4">
  <div class="card">
    
  
    <div class="card-body">
      <form (ngSubmit)="login(loginForm)"
            #loginForm="ngForm"
            autocomplete="off">
        <fieldset>
  
         
  
          <div class="form-group row">
            <label class="col-md-2 col-form--label"
                   for="passwordId">Password</label>
  
            <div class="col-md-8">
              <input class="form-control"
                     id="passwordId"
                     type="password"
                     placeholder="Password (required)"
                     required
                     ngModel
                     name="passwordVar"
                     #passwordVar="ngModel"
                     [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="passwordVar.hasError('required')">
                  Password is required.
                </span>
              </span>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-md-2 col-form--label"
                   for="passwordId">Confirm Password</label>
  
            <div class="col-md-8">
            <input class="form-control"
                   id="CnfrmPasswordId"
                   type="password"
                   placeholder="Confirm Password (required)"
                   required
                   appPasswordvalidator = "passwordVar"
                   ngModel
                   name="CnfmPasswordVar"
                   #CnfmPasswordVar="ngModel"
                   [ngClass]="{'is-invalid': (CnfmPasswordVar.touched && CnfmPasswordVar.dirty) && !CnfmPasswordVar.valid }" />
              <span class="invalid-feedback">
              <span *ngIf="CnfmPasswordVar.hasError('required')">
                Confirm Password is required.
              </span>
              <span *ngIf="CnfmPasswordVar.hasError('passwordMatchError')">
                Confirm Password & Password must be same.
              </span>
            </span>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4 offset-md-2">
              <button class="btn btn-primary mr-3"
                      type="submit" 
                      style="width:180px"
                      [disabled]="!loginForm.valid">
              Change Password
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
 <!-- Modal -->
<div class="modal fade" #someModal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>