<div class="container">
    <div class="row">
      <div style="margin-left: -10px;">
        <div class="card-panel teal lighten-2">
          <h5 style="color:white">Upload your ID proof <small style="font-size: 15px;">(as "Username".jpg/png)</small>:</h5>
          
        </div>
        <form #imageForm=ngForm (ngSubmit)="uploadFileToActivity(imageForm)">
          <input type="file" #Image id="file" accept="image/*" style="color: white;" (change)="handleFileInput($event)">
          <button type="submit" class="btn btn-primary" [disabled]="!imageForm.valid">Upload</button>
        </form>
      </div>
    </div>
    </div>
   